
<div id="modal_box_signin">
    <div id="close_modal_signin">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />































</svg>
    </div>
    <div id="content_modal_signin">
        <form id="login" method="post" action="~/Account/Login">
            <h1>Sign In</h1>
            <fieldset id="inputs">
                <input id="username" placeholder="Email" name="Email" autofocus="" required="" type="text">
                <input id="password" placeholder="Password" name="Password" required="" type="password">
            </fieldset>
            <fieldset id="actions">
                <input id="submit" value="Sign In" type="submit">
                <a href="">Forget password?</a><a id="leha" asp-action="Register" asp-controller="Account">Sign Up</a>
            </fieldset>
        </form>
    </div>
</div>

<div id="modal_box">
    <div id="close_modal">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 31.112 31.112" style="enable-background:new 0 0 31.112 31.112;" xml:space="preserve">
<polygon points="31.112,1.414 29.698,0 15.556,14.142 1.414,0 0,1.414 14.142,15.556 0,29.698 1.414,31.112 15.556,16.97
	29.698,31.112 31.112,29.698 16.97,15.556 " />







</svg>

    </div>
    <div id="content_modal">
        <form action="" name="call" id="form_call">
            <input type="text" placeholder="name" />
            <input type="text" placeholder="phone" />
            <input type="text" placeholder="email" />
            <button type="submit" class="blue_btn btn">Order</button>
        </form>
    </div>
</div>

<div id="black_fill"></div>